/* UpLoadRecipe.module.css */

/* .container {
    animation: alternateBackground 10s ease-in-out infinite; /* Adjust timing and easing 
  }
  
  @keyframes alternateBackground {
    0%, 100% {
      background-color: grey; 
    }
    25% {
      background-color: #3B82F6; 
    }
    75% {
      background-color: #34D399; 
    }
  }
  
  .title {
    padding: 1rem; 
    display: inline-block; 
  } */
  

  /* UpLoadRecipe.module.css */


  